<% if notice %>
  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
    <p class="text-sm"><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700" role="alert">
    <p class="text-sm"><%= alert %></p>
  </div>
<% end %>