<div class="flex justify-between" id="<%= dom_id(category) %>"  >
  <div><h4><%= category.name %></h4></div>
  <div>
    <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-1000">
      <%= category.discussions_count if category.discussions_count&.positive? %>
    </span>
  </div>
</div>
